.scroller {
  height: 100vh;
  width: 200px;

  li {
    padding: 8px 12px;

    div {
      padding: 8px 0;
    }

    &.isSelected {
      background-color: #777;

      & > div {
        color: greenyellow;
      }
    }
  }
}